body{
    background-color: #000000;
    font-family: Mukta Medium;
}

@font-face { 
    font-family: "Mukta SemiBold"; 
    src: url("../fonts/Mukta-SemiBold.ttf"); 
}

@font-face {
    font-family: "Mukta Medium";
    src: url(../fonts/Mukta-Medium.ttf);
}
@font-face {
    font-family: "Mukta Regular";
    src: url(../fonts/Mukta-Regular.ttf);
}
nav {
    border-bottom: 5px solid #33312e;
}

.menu a {
    color: #c63b28;
}

.menu img {
    padding-top: 20px;
    height: 10%;
    width: 10%;
}

.menu ul {
    border-color: #33312e;
    display: inline;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
    font-size: 35px;
}


footer {
    text-align: center;
    margin-top: 20px;
}

footer ul li a i {
    color: #f2dcce;
  }

footer ul {
    border-color: #33312e;
    display: inline;
}

footer ul li {
    display: inline;
    margin-right: 50px;
    font-size: x-large;
}

.copy {
    color: #f2dcce;
}

.container{
    padding-bottom: 10px;
}

h1{
    font-family: Mukta SemiBold;
    color: #f2dcce;
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: Mukta SemiBold;
    font-size: 35px;
    color: #f2dcce;
    margin-left: 20px;
}

.desc-container {
    background-color: #33312e;
    border-radius: 20px;
    padding: 15px;
    margin: 0 250px;
    text-align: center;
  }
  
.desc-container p {
    color: #f2dcce;
    font-size: 20px;
}

.img-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.img-container img {
    height: 65%;
    width: 65%;
}

#servicios ul, #servicios img {
    background-color: #33312e;
    display: inline-block;
    vertical-align: middle;
}

#servicios ul {
    margin-left: 50px;
    margin-top: 10px;
    margin-right: 200px;
    padding-right: 20px;
    color: #f2dcce;
    border-radius: 20px;
    font-size: 25px;
}

#servicios ul li span {
    font-family: Mukta Regular;
    font-size: medium;
    margin-left: 30px;
    display: block;
}

#servicios img {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 35%;
    height: 35%;
}

.grid {
    color: #f2dcce;
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

.grid-header p{
    display: inline;
    margin-right: 45px;
}
.grid-row p{
    display: inline;
    font-size: 20px;
    margin-right: 50px;
}

.grid-row a {
    display: inline;
    font-size: 20px;
    margin-right: 50px;
    color: #c63b28;
}

.nosotros img {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 35%;
    height: 35%;
}

.desc-nosotros {
    background-color: #33312e;
    border-radius: 20px;
    padding: 15px;
  }

.desc-nosotros p {
    color: #f2dcce;
    font-size: 20px;
}

.contacto {
    color: #f2dcce;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 20px;
}

.contacto form {
    display: block;
  }
  
.contacto label {
    display: block;
    margin-bottom: 10px;
  }
  
.contacto input,
.contacto textarea {
    display: block;
    margin-bottom: 20px;
  }
  
.contacto button {
    display: block;
  }